<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--4-col">
    <h2>Sign up</h2>
    

    <%= render "devise/shared/links" %>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>