.col-md-6.col-md-offset-3
	%h2.alert.alert-info.text-center 
		%i.fa.fa-plus-square-o
		Create Contract for 
		=@contact.cliente

	= render 'form'
	.col-md-12

		= link_to :back, class: "btn btn-default big_margin" do
			%i.fa.fa-reply
			Go back
