.col-md-8.col-md-offset-2
	%h4.alert.alert-info.text-center
		="Welcome #{current_user.nombre}"
	%h3.alert.alert-warning.text-center
		%i.fa.fa-list
		Customers in proccess
	.table-responsive
		%table.table.table-stripe
			%thead
				%tr 
					%th Client
					%th Created At
					%th Status
			%tbody
				-@contacts.each do |contact|
					%tr
						%th=link_to contact.cliente, contact
						%th=contact.created_at.strftime('%a %d-%h-%y at %I:%M%p')
						%th=contact.status?
				