= form_for [@company,@template,@datatemplate] do |f|
	= tinymce 
	.field
		=f.label :left_width 
		=f.number_field :left_width
	.field
		=f.label :content
		=f.text_area :content, class: "form-control bigtextare tinymce"

	=f.submit "Add data", class: "btn btn-primary"