.navbar-default {
    background-color: rgb(96, 125, 139)!important;
    border-color: rgb(96, 125, 139)!important;
}
#spinner{
    position: fixed;
    margin-top: 20%;
    margin-left: 45%;
}
#list_notifications{
	width: 250px;
}
.btn-primary{
	margin-top: 10px;
}
.max_250{
	max-width: 250px;
}
.no_margin_top{
	margin-top: 0px!important;
}
.float_right{
	float: right!important;
}
.btn-gray{
	background-color: #6E6E6E;
	color: black!important;
}
#list_notifications > li > a{
	white-space: initial;
	padding: 5px!important;
	border-bottom: 2px solid #D8D8D8;
}
.notifications,.red_circle_white{
	border-radius: 30px;
	background:red;
}
.fa-bell-o{
	color: chocolate!important;
}

.big_margin{
	margin-top: 20px;
}
.yellow{
	background: #FFFF00
}
pre.content{
	background:transparent!important;
	border: 0px;
	color: initial!important;
}
.bigtextare{
	min-height: 250px!important;
}
.template_preview{
	max-width: 650px;
	position: absolute;
}
.backspinner{
	width: 100%;
	height: 100%;
	background: rgba(100, 100, 100, 0.2);
	position: absolute;
	margin-top:-20px;
}
.margin_top{
	margin: 20px 0px;
}
ul.margin_top > li > a:hover{
	background: transparent;
	
}
.dispnone{
	display: none;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: black!important;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a {
    color: white!important;
    font-size: 1.5em!important;
}
.navbar-brand{
	color: white!important;
	font-size: 1.8em!important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background: black!important;
}
.border{
	border: 1px solid grey;
    padding: 10px;
    background: gainsboro;
}
.bigmargin{
	margin-bottom: 30px;
}
.max-trescientos{
	max-width: 300px;
}
.delete{
	color: red;
	font-size: 1.5em!important;
	margin-left:15px 
}
.alert > a:hover, .border >a:hover{
	background-color: transparent!important;

}
.alert > a, .border >a{
	float: right;
}
.no-padding{
	padding: 0px!important;
	margin: 0px!important;
}
.white-text{
	color: white!important;
}
.bigmargin{
	margin: 30px 0px;
}